/*

*/

body{
   line-height: 200%;
}


header, nav{
    padding: 20px 15px 10px 5px;
    margin: 10px 0px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    padding: 5px 10px;
    margin: 15px;
    background-color: lightblue;
    font-size: 20px;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    text-underline-offset: 8px;
    text-decoration-color: #000000;
}


h1{
   /*Set font and font size*/
    font-size: 28px;
    font-family: Merriweather, Anton, "Times New Roman", serif;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: 24px;
    font-family: Anton, "Times New Roman", serif;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 20px;
}

h1, h2, h3{
    /*Set margin */
    margin-top: 10px;
}
.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 90%;
    border-radius: 25px;
    row-gap: 10px;
    margin: 0 auto;
    border: 2px dashed black;
    background-color: lightblue;
    justify-content: space-between;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    /* margin-top: 20px; */
    background-color: white;
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: 5px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.grid div:nth-child(3n+1)  {
    /* Left colum; Set box shadow */
    box-shadow: 3px 0px 5px #0E89D2;
}

.grid div:nth-child(3n)  {
    /* Right colum; Set box shadow */
    box-shadow: -3px 0px 5px #0E89D2;
}

.grid div:nth-child(3n+2)  {
    /* Center column; Set box shadow */
    box-shadow: 3px 0px 5px #0E89D2, -3px 0px 5px 0px #0E89D2;
}


p + p {
     /* Set indentation */
     text-indent: 25px;
}

p {
    margin-top: 15px;
}


.grid ul li{
    line-height: 100%;
    margin: 0px 0px 20px 30px;
    list-style: url('../images/sketchbook.png');
}
